@import url("./form.css");
@import url("./pagination.css");
@import url("./profile.css");
@import url("./tailwind.css");

body {
    background: gainsboro;
}

main {
    padding: 90px 0;
    /* 96px is the height of the navbar */
    margin-top: 96px;
}

h1 {
    text-align: center;
    font-size: 48px !important;
    font-weight: 700 !important;
    margin: 0 auto 40px !important;
}

a, button, input[type="submit"] {
    &:not(:disabled) {
        cursor: pointer;
    }

    &:disabled {
        opacity: 0.5;
        cursor: auto;
    }
}
